<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Planner</title>
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>
    <!-- For Exceeds Expectations Only! -->
    <%= yield %>
  </body>
</html>
